{% load static %}

<!-- ##### Footer Area Start ##### -->
<footer class="footer_area">
    <div class="container">
        <div class="row">
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area d-flex mb-30">
                    <!-- Logo -->
                    <div class="footer-logo mr-50">
                        <a href="#"><h1 style="color: #FFFFFF;">ဖိုးလမင္း</h1></a>
                    </div>
                    <!-- Footer Menu -->
                    <div class="footer_menu">
                        <ul>
                            <li><a href="{% url 'listings' 0 %}">Shop</a></li>
                            <li><a href="{% url 'contact' %}">About Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Single Widget Area -->
            <div class="col-12 col-md-6">
                <div class="single_widget_area mb-30">
                    <ul class="footer_widget_menu">
                        <li><a href="#">Order Status</a></li>
                        <li><a href="#">Shipping and Delivery</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms of Use</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Single Widget Area -->
        <div class="single_widget_area">
            <div class="footer_social_area">
                <p>Find us on :
                <a href="https://www.facebook.com/%E1%80%96%E1%80%AD%E1%80%AF%E1%80%B8%E1%80%9C%E1%80%99%E1%80%84%E1%80%B9%E1%80%B8-%E1%80%95%E1%80%AD%E1%80%AF%E1%80%B8%E1%80%91%E1%80%8A%E1%80%B9-%E1%80%9C%E1%80%80%E1%80%B9%E1%80%9C%E1%80%AE%E1%80%9C%E1%80%80%E1%81%A0%E1%80%AC%E1%80%B8-373364376405738/"
                   data-toggle="tooltip" data-placement="top" target="_blank"  title="Facebook"><i
                        class="fa fa-facebook" aria-hidden="true"></i></a>
                </p>
            </div>
        </div>

                <div class="row mt-5">
                    <div class="col-md-12 text-center">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;<script>document.write(new Date().getFullYear());</script> <a target="_blank" href="https://www.facebook.com/ZBK09784440088"> Zabukyaw Trading Co.,Ltd</a>
                            All rights reserved | Template designed by
                            <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>

    </div>
</footer>
<!-- ##### Footer Area End ##### -->