{% load static %}
<!-- ##### Brands Area Start ##### -->
<div class="brands-area d-flex align-items-center justify-content-between">
    <!-- Brand Logo -->
    <div class="single-brands-logo">
        <div class="container">
            <h3>Check Out Our Sponsor <a target="_blank" href="https://www.facebook.com/ZBK09784440088/"><u style="font-size: 30px;">Zabukyaw Trading Co.,Ltd</u></a> on
                Facebook!
            </h3>
        </div>
    </div>
</div>
<!-- ##### Brands Area End ##### -->
{#<img style="margin-bottom: 14px;" src="{% static 'img/core-img/brand3.png' %}" alt="">#}