#header {
    background: #e8e8e8;
    color: #787878;
}

#branding h1, #branding h1 a:link, #branding h1 a:visited {
    color: black;
    font-weight: bold;
    font-family: "Comic Sans MS", Times, serif;
}

#header a:link, #header a:visited {
    color: #787878;
}


.module h2, .module caption, .inline-group h2 {
    background: #9ca2e8;
    color: #fff;
}

a.section:link, a.section:visited {
    color: #fff;
}

a:link, a:visited {
    color: #000000;
}

 div.breadcrumbs {
    background: #9ca2e8;
    color: #fff;
}

 div.breadcrumbs a {
    color: #b01bbf;
}

 .object-tools a:link, .object-tools a:visited {
    background: #28a745;
    color: #fff;
}

 .button, input[type=submit], input[type=button], .submit-row input, a.button {
    background: #2fc150;
    color: #fff;
}

.button.default, input[type=submit].default, .submit-row input.default {
    font-weight: 400;
    background: #28a745;
}